<h1>Editing <%= @album.title %></h1>

<form action="<%= album_url %>" method="POST">
<%= auth_token %>
<input type="hidden" name="_method" value="PATCH">

Title: <input type="text" name="album[title]" value="<%= @album.title %>">

<select name="album[band_id]">
    <% Band.all.each do |band| %>
        <% if band.id == @album.band_id %>
            <option value="<%= band.id %>" selected><%= band.name %></option>
        <% else %>
            <option value="<%= band.id %>"><%= band.name %></option>
        <% end %>
    <% end %>
</select>

Year: <input type="text" name="album[year]" value="<%= @album.year %>">
<input type="radio" name="album[live]" value="true" <%= @album.live ? "checked" : "" %> > Live
<input type="radio" name="album[live]" value="false"<%= @album.live ? "" : "checked" %>> Studio
<input type="submit" value="Create">
</form>