<h1>Album Creation</h1>

<form action="<%= albums_url %>" method="POST">
<%= auth_token %>

Title: <input type="text" name="album[title]" value="">

<select name="album[band_id]">
    <% Band.all.each do |band| %>
        <% if band.id == @album.band_id %>
            <option value="<%= band.id %>" selected><%= band.name %></option>
        <% else %>
            <option value="<%= band.id %>"><%= band.name %></option>
        <% end %>
    <% end %>
</select>

<p>Year: <input type="text" name="album[year]" value=""> </p>
<input type="radio" name="album[live]" value="true"> Live
<input type="radio" name="album[live]" value="false" checked> Studio
<input type="submit" value="Create">
</form>